<h1>Hello, <%= @user.email %>!</h1>

<p>This is your home lemon page.</p>

<a href="/users">Who to follow?</a><br/>
<a href="/notifications">Notifications</a><br/>
<a href="/post">Post status update</a>
